@font-face {
    font-family: 'redditMono';
    font-weight: 100;
    src: url('fonts/RedditMono1/static/RedditMono-Light.woff') format("woff");
}
@font-face {
    font-family: 'Nova';
    font-weight: 100;
    src: url('fonts/Nova_Mono/NovaMono-Regular.woff') format("woff");
}
@font-face {
    font-family: 'Raleway';
    font-weight: 100;
    src: url('fonts/Raleway/static/Raleway-ExtraLight.woff') format("woff");
}