
body {
    background-color: #e4e4e4;
    cursor: crosshair;
    display: flex;justify-content: center;
    height : 1000px;
}
.head {
    width : 1000px;
    display: flex;justify-content: center;

}
h1 {
    font-family: 'Nova', sans-serif;
    font-size : 150px;
    align-content: center;
    text-align: center;
    width: 500px;
    height: 250px;
    border: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
    user-select: none;
    cursor: crosshair;
}